
@font-face {
	font-family: Poppins-h1;
	src: url('font/Poppins-Bold.otf');
}

@font-face {
	font-family: Poppins;
	src: url('font/Poppins-ExtraLight.otf');
}

@font-face {
	font-family: Poppins-language;
	src: url('font/Poppins-Thin.otf');
}

@font-face {
	font-family: Poppins-Regular;
	src: url('font/Poppins-Regular.otf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('font/Poppins-Medium.otf');
}


body {
	width: 100%;
	max-width: 1440px;
	font: normal normal 14px/normal Poppins;
	color: #FFFFFF;
	text-align: justify;
	margin: auto;
}

h1 {
	font-weight: bold;
	font-family: Poppins-h1;
	font-size: 40px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

h2 {
	font-weight: bold;
	font-family: Poppins-h1;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 25px;
}

h3 {
	font-family: Poppins;
	font-size: 20px;
}

p {
	font: normal normal 14px/normal Poppins;
	color: #FFFFFF;
}

i {
	color: #FFFFFF;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.before {
	position: relative;
}

.before:after {
	position: absolute;
    bottom: -5px;
    left: 0%;
    height: 2px;
    content: '';
}

.behind {
	position: relative;
}

.behind:after {
	position: absolute;
    top: -5px;
    right: 0%;
    height: 2px;
    content: '';
}

/*Begin CSS header*/
header {
	width: 100%;
	float: left;
}

/*Begin CSS left-header*/
.left-header {
	float: left;
	height: auto;
	width: 50%;
	box-sizing: border-box;
	max-height: 600px;
	background-image: url(image/ava.png);
	background-size: 100% 100%;
}

.left-header 
.language {
	display: none;
}

/*.left-header
img {
	width: 100%;
	height: 600px;
}*/

.title-header {
	margin-top: 424px;
}

.left-header
.before:after {
	width: 236px;
	bottom: 2px;
    background: #EF5B5B;
}

.bottom-left-header {
	height: 60px;
	width: 100%;
	margin-top: 26px;
	box-sizing: border-box;
	flex-direction: row-reverse;
}

.bottom-left-header 
i {
	margin-top: 30px;
	margin-left: 30px;
}

.bottom-left-header-1 {
	width: 60px;
	height: 60px;
	background: #3a3939;
	opacity: 0.8;
	border-top-left-radius: 100%;
	box-sizing: border-box;
}

/*End CSS left-header*/
/*Begin CSS right-header*/
.right-header {
	float: left;
	max-height: 600px;
	width: 50%;
	background-color: #242581;
	box-sizing: border-box;
	padding: 0px 114px 45px 114px;
}

.right-header
.language {
	padding-top: 21px;
	box-sizing: border-box;
}

.language {
	font-family: Poppins-language;
}

 .language
 .p1 {
 	margin-left: 0px;
 }

 .language
 .p2 {
 	margin-left: 40px;
 }

 .language
 a {
 	text-decoration: none;
 	color: #FFFFFF;
 }

 .language
 a:hover {
 	font-weight: bold;
 	text-decoration: underline;
 }

 .language
 a:active {
 	text-decoration: underline;
 }

 .ava {
 	width: 150px;
 	height: 150px;
 	border-radius: 100%;
 	border: 4px solid #FFFFFF;
 	overflow: hidden;
 	margin-top: 16px;
 	box-sizing: border-box;
 	background-image: url(image/ava.png);
 	background-size: 100% 100%;
 	justify-content: flex-end;
 }

 .ava 
 .bottom-ava {
 	width: 152px;
 	height: 20%;
 	background: #393937;
 	opacity: 0.5;
 	display: none;
 }

 .right-header 
 a:hover
 .bottom-ava {
 	display: flex;
 	opacity: 1;
 }

 .name {
 	padding-bottom: 10px;
 	margin-top: 17px;
 }

 .name 
 .p1 {
 	font-family: Poppins-Medium;
 	letter-spacing: 0.05cm;
 	text-transform: uppercase;
 	text-align: center;
 }

 .name 
 .p2 {
 	width: auto;
 	text-align: center;
 }

 .right-header-table {
 	width: 100%;
 	box-sizing: border-box;
 }

 .personal-info {
 	width: 96%;
 	border-top: 2px #EF5B5B solid;
 	padding-top: 11px;
 	/*height: 218px;*/
 	/*margin-right: 25px;*/
 	box-sizing: border-box;
 }

 .personal-info
 .tdleft {
 	font-weight: 800;
 	padding-top: 15px;
 	width: 100px;
 	font-family: Poppins-Medium;
 }

 .personal-info
 .tdright {
 	padding-top: 15px;
 }

 .right-header-button {
 	padding-right: 32px;
 }

 button
 i {
 	margin-left: 6px;
 }

 button:hover {
 	cursor: pointer;
 	opacity: 0.8;
 }

 .right-header
 button {
 	margin-top: 25px;
 	min-height: 36px;
 	min-width: 134px;
	background-color: #242581;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
}
/*End CSS right-header*/
/*End CSS header*/
/*Begin CSS content*/
content {
	width: 100%;
	max-width: 1440px;
}

.content {
	width: 100%;
	padding: 45px 135px;
	box-sizing: border-box;
}
/*Begin CSS content-1*/
.content-1 {
	background: #2026B2;
}

.content-1
.before:after {
	width: 197px;
    background: #EF5B5B;
}

.content-1
.behind:after {
	width: 41px;
    background: #EF5B5B;
}

.content-1-button {
	justify-content: flex-end;
	padding-right: 33px;
}

.content-1 
.para {
	margin-top: 30px;
	padding-bottom: 10px;
}

.content-1
 button {
 	min-height: 36px;
 	min-width: 151px;
	background-color: #2026B2;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
}
/*End CSS content-1*/
/*Begin CSS content-2*/
.content-2 {
	background-color: #4A0F73;
}

.professional {
	width: 50%;
	padding-right: 14px;
	float: left;
	box-sizing: border-box;
	justify-content: center;
}

.professional
.before:after {
	width: 197px;
    background: #EF5B5B;
}

.professional
.behind:after {
	width: 41px;
    background: #EF5B5B;
}

.professional
.p1 {
	margin-top: 20px;
}

.skill-2,
.skill-3 {
	margin-left: 30px;
}

.circle-skill {
	max-width: 171px;
	width: 33%;
	padding: 0 33px;
	box-sizing: border-box;
	justify-content: flex-start;
}

.proskill {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.graphic {
	width: 100%;
	margin-top: 25px;
	box-sizing: border-box;
}

.graphic-0,
.graphic-2,
.graphic-3 {
	display: none;
}

.circle-skill
.skill-1-p {
	margin-top: 10px;
	text-transform: uppercase;
	min-width: 92px;
	text-align: center;
}

.skill-button {
	margin: 61px -8px;
}

.skill-button
 button {
 	width: 100%;
	background-color: #4A0F73;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
	min-height: 36px;
	min-width: 108px;
}

svg 
.donut-hole {
	fill: #4A0F73;
}

svg
.donut-ring {
	fill: transparent;
	stroke: #FFFFFF;
	stroke-width: 5px;
}


svg 
.donut-segment-1 {
	fill: transparent;
	stroke: #EF5B5B;
	stroke-width: 5px;
	stroke-dasharray: 298.4513021 74.61282552;
	stroke-dashoffset: 298.4513021;
}

svg 
.donut-segment-2 {
	fill: transparent;
	stroke: #EF5B5B;
	stroke-width: 5px;
	stroke-dasharray: 193.9933464 104.4579557;
	stroke-dashoffset: 193.9933464;
}

svg 
.donut-segment-3 {
	fill: transparent;
	stroke: #EF5B5B;
	stroke-width: 5px;
	stroke-dasharray: 149.225651 149.225651;
	stroke-dashoffset: 149.225651;
}

svg
text {
	fill:#ffffff; 
	font-size:14px; 
	font-family:Poppins;
}

.personal {
	width: 50%;
	box-sizing: border-box;
	padding-left: 16px;
	float: left;
}

.personal
.before:after {
	width: 139px;
    background: #EF5B5B;
}

.personal
.behind:after {
	width: 41px;
    background: #EF5B5B;
}

.personal 
.p1 {
	margin-top: 20px;
}

.personal-skill {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
}

.personal-skill
h4 {
	text-transform: uppercase;
	margin-top: 25px;
}

.personal-skill
.all {
	display: flex;
	background: #FFFFFF;
	height: 7px;
	border-radius: 3px;
	margin-top: 10px;
}

.percent {
	background: #EF5B5B;
	border-radius: 3px;
	border: 3px #EF5B5B solid;
}

.percent-1,
.percent-2,
.percent-3 {
	width: 65%;
	position: relative;
}

.percent-text-1,
.percent-text-2,
.percent-text-3 {
	position: relative;
	top: -30px;
	right: 10px;
}


.personal-button {
	width: 100%;
	justify-content: flex-end;
}

.personal
 button {
 	min-height: 36px;
 	min-width: 108px;
 	margin-top: 28px;
	background-color: #4A0F73;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
}
/*End CSS content-2*/
/*Begin CSS content-3*/
.content-3 {
	background: #F64C71;
}

.left-content-3 {
	width: 50%;
	padding-right: 14px;
	box-sizing: border-box;
	float: left;
}

.left-content-3
.before:after {
    width: 82px;
    background: #FFFFFF;
}

.left-content-3
.behind:after {
    width: 41px;
    background: #FFFFFF;
}

.left-content-3
.p1 {
	margin-top: 20px;
}

.left-content-3
.main {
	padding-left: 23px;
}

.main {
	width: 100%;
	margin-top: 25px;
	box-sizing: border-box;
}

.main-1 {
	border-top: 1px #FFFFFF solid;
	padding-bottom: 0px;
	float: left;
	height: 2px;
	width: 15px;
}

.main-2 {
	margin-left: -8px;
	width: 96.5%;
	border-left: 1px #FFFFFF solid;
	padding-bottom: 25px;
	float: left;
	box-sizing: border-box;
}

.main-3 {
	width: 96.5%;
	margin-top: 25px;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
}

.main-3-1 {
	margin-top: 0px;
}

.main-3
.img-1 {
	height: 12px;
	width: 8px;
}

.main-3
.main-3-center {
	width: 50px;
	height: 1px;
	border-bottom: 1px #FFFFFF dotted;
}

.main-3-box {
	width: 450px;
	border: 0.5px #FFFFFF solid;
	padding: 10px 8px 11px 18px;
}

.main-3-box
.year {
	width: auto;
	border-bottom: 1px #FFFFFF solid;
}
.main-3-box 
h3 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
}

.main-3-box
h4 {
	text-align: justify;
	color: #FFFFFF;
	margin-top: 4px;
}

.main-3-box-2 {
	margin-top: 20px;
}

.content-3-button {
	width: 93.1225%;
	box-sizing: border-box;
	padding-left: 30px;
	margin-left: 10px;
	justify-content: flex-end;
}

.left-content-3
 button {
 	min-height: 36px;
 	min-width: 198px;
	background-color: #F64C71;
	box-sizing: border-box;
	border: 1px #FFFFFF solid;
}

.right-content-3 {
	width: 50%;
	padding-left: 16px;
	box-sizing: border-box;
	float: left;
}

.right-content-3
.before:after {
    width: 75px;
    background: #FFFFFF;
}

.right-content-3
.behind:after {
    width: 41px;
    background: #FFFFFF;
}

.right-content-3
.p1 {
	margin-top: 20px;
}

.right-content-3
.main {
	padding-left: 21px;
}

.right-content-3
 button {
 	min-height: 36px;
 	min-width: 151px;
	background-color: #F64C71;
	box-sizing: border-box;
	border: 1px #FFFFFF solid;
}
/*End CSS content-3*/
/*Begin CSS content-4*/
.content-4 {
	width: 100%;
	background: #563D67;
	box-sizing: border-box;
}

.content-4
.before:after {
    width: 72px;
    height: 2px;
    background: #EF5B5B;
}

.content-4
.behind:after {
    width: 41px;
    height: 2px;
    background: #EF5B5B;
}

.menu {
	width: auto;
	margin-top: 21px;
	margin-left: 16px;
}

.menu
ul
li {
	width: auto;
	font: normal bold 14px/normal Poppins-Medium;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	float: left;
	margin-left: 28px;
}

.menu 
a:hover {
	text-decoration-line: underline;
}

.show {
	width: 100%;
	margin-top: 21px;
}

.column-1 ,.column-2 ,.column-3 ,.column-4{
	width: 25%;
	float: left;
}

.show-box-1 {
	width: 100%;
	height: 200px;
}

.show-box-1
img {
	width: 150px;
	height: 159px;
}

.box-1-1 {
	background: #FD7038;
}

.box-1-2 {
	background: #333333;
}

.box-1-3 {
	background: #F64C71;
}

.box-1-4 {
	background: #2F2FA1;
}

.box-1-5 {
	background: #F9BC2D;
}

.show-box-2 ,.show-box-3 {
	width: 100%;
	height: 400px;
}

.show-box-2
img {
	width: 220px;
	height: 207px;
}

.show-box-3
img {
	width: 220px;
	height: 208px;
}

.box-2-1 {
	background: #EECD10;
}

.box-2-2 {
	background: #EF5B5B;
}

.column-4
 button {
 	min-height: 36px;
 	min-width: 139px;
	background-color: #563D67;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
}
/*End CSS content-4*/
/*End CSS content*/
/*Begin footer css*/
footer {
	width: 100%;
}

.footer-top {
	width: 100%;
	padding: 45px 135px;
	box-sizing: border-box;
	background: #2F2FA1;
	box-sizing: border-box;
}

.footer-top
.before:after {
    width: 72px;
    background: #EF5B5B;
}

.footer-top
.behind:after {
    width: 41px;
    background: #EF5B5B;
}

.slide-bottom {
	width: 100%;
	position: relative;
}

.prev {
	position: absolute;
	left: 80px;
	top: 50%;
	opacity: 0.5;
}

.next:hover {
	opacity: 1;
	cursor: pointer;
}

.prev:hover {
	opacity: 1;
	cursor: pointer;
}

.next {
	position: absolute;
	right: 84px;
	top: 50%;
	opacity: 0.5;
}

.slide {
	margin: auto;
	margin-top: 25px;
	box-sizing: border-box;
	padding: 0px 122px;
}

.slide
img {
	width: 150px;
	height: 150px;
	margin-left: 35px;
	border-radius: 100%;
	border: 4px #FFFFFF solid;
	float: left;
}

.slide
span {
	font: normal normal 80px/normal Port Lligat Sans;
	color: #FFFFFF;
}

.quote-1-1 {
	height: auto;
	margin-left: 70px;
	margin-top: 34px;
	width: 100%;
	position: relative;
	padding-bottom: 0px;
	float: left;
	
}

.quote-1-1
.quote-1 {
	position: absolute;	
	display: block;
	margin-left: -36px;
	margin-top: -20px;
}

.quote-1-1
.quote-2 {
	position: absolute;
	display: inline-block;
	margin-top: -15px;
}

.quote-1-1
.p2 {
	font: normal normal 14px/normal Poppins;
	width: 100%;
	text-align: justify;
	padding-bottom: 10px;
} 

.slide
.p3 {
	width: 7px;
	margin-left: 33px;
	margin-top: 75px;
}

.panigation {
	width: 100%;
	margin-top: 30px;
}

.first {
	background-color: #979797;
}

.panigation
 button {
 	min-height: 36px;
 	min-width: 169px;
	background-color: #2F2FA1;
	box-sizing: border-box;
	border: 1px #EF5B5B solid;
}

.footer-bottom {
	width: 100%;
	background: #0C0C5E;
	padding:14px 0px;
	box-sizing: border-box;
}

/*End CSS footer*/